<h2 class="text-center text-decoration-underline py-5">Stella Products</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#Id</th>
        <th scope="col">title</th>
        <th scope="col">image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of Productlist">
        <th scope="row">{{ row.id }}</th>
        <td>{{ row.id }}</td>
        <td>{{ row.image }}</td>
        <td><img class="responsive-img" src="{{ row.image }}" alt="{{ row.image }}" /></td>
      </tr>
    </tbody>
  </table>
</div>
