/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    height: 100% !important;
}

table {
    width: 100% !important;
    max-width: 100% !important;
    background-color: transparent !important;
    border-collapse: collapse !important;
    border-top: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
}

table thead th {
    vertical-align: bottom !important;
}

td,
th {
    padding: 0.3rem !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
}

table td,
table th {
    padding: 0.75rem !important;
    vertical-align: top !important;
}